DAGSTER_POSTGRES_USER=dagster
DAGSTER_POSTGRES_PASSWORD=dagster
DAGSTER_POSTGRES_DB=dagster
DAGSTER_POSTGRES_HOST=dagster_postgres

APP_PG_HOST=app_postgres
APP_PG_PORT=5432
APP_PG_USER=app
APP_PG_PASSWORD=app
APP_PG_DB=warehouse

ES_HOST=http://elasticsearch:9200
