dagster==1.13.3
dagster-webserver==1.13.3
dagster-postgres==0.29.3
dagster-docker==0.29.3
dagster-graphql==1.13.3
pandas==2.2.2
elasticsearch==8.13.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
requests==2.32.3
pyarrow==17.0.0
